﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form action="/Home/EditPost" method="post">

    <label> Nome:  </label>
    <input type="text" name="Nome" /><br />

    <label> Data de Nascimento:  </label>
    <input type="date" name="Nascimento" /><br />

    <label> Idade  </label>
    <input type="number" name="Idade" /><br />

    <label> Rg:  </label>
    <input type="number" name="Rg" /><br />

    <label> Cpf:  </label>
    <input type="number" name="Cpf" /><br />

    <label> Nome do Pai:  </label>
    <input type="text" name="Nomepai" /><br />

    <label> Nome da Mãe:  </label>
    <input type="text" name="Nomemae" /><br />

    <label>Endereco rua:  </label>
    <input type="text" name="Endereco.rua" /><br />

    <label>Endereco Cep:  </label>
    <input type="number" name="Endereco.Cep" /><br />

    <label>Endereco Numero:  </label>
    <input type="number" name="Endereco.Numero" /><br />

    <label>Endereco Complemento:  </label>
    <input type="text" name="Endereco.Complemento" /><br />

    <label>Endereco Bairro:  </label>
    <input type="text" name="Endereco.Bairro" /><br />

    <label>Endereco Cidade:  </label>
    <input type="text" name="Endereco.Cidade" /><br />

    <button class="btn btn-success" type="submit"> Salvar </button>
</form>