﻿
@model IEnumerable<ProjetoASPNET_MVC.Classes.Pessoa>

@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    @{ var contador = 0;
        foreach (var pessoas in Model)
        {
            <p>@pessoas.Nome </p>
            <p>@pessoas.Nascimento </p>
            <p>@pessoas.Cpf </p>
            <p>@pessoas.Endereco.Numero </p>
            <p>@pessoas.Endereco.Rua </p>
            contador++;
        }
            <p>Contador é: @contador</p>
    }
</div>

